WIDTH = 30
HEIGHT = 30

complexprint = (c: vec): void => {
	print(string(vecget(c, 0)))
	print("+")
	print(string(vecget(c, 1)))
	print("i")
	print("\n")
}

complexadd = (a: vec, b: vec): vec => {
	r = vecget(a, 0) + vecget(b, 0)
	img = vecget(a, 1) + vecget(b, 1)

	res = vecnew()
	res = vecset(res, 0, r)
	res = vecset(res, 1, img)

	res
}


complexmul = (a: vec, b: vec): vec => {
	r = vecget(a, 0) * vecget(b, 0) - vecget(a, 1) * vecget(b, 1)
	img = vecget(a, 0) * vecget(b, 1) + vecget(a, 1) * vecget(b, 0)

	res = vecnew()
	res = vecset(res, 0, r)
	res = vecset(res, 1, img)

	res
}

y = 0
while y < HEIGHT {
	x = 0
	while x < WIDTH {
		c = vecnew()
		halfwidth = WIDTH * 0.5
		halfheight = HEIGHT * 0.5

		rx = y - halfwidth
		ry = x - halfheight
		c = vecset(c, 0, rx * 0.1)
		c = vecset(c, 1, ry * 0.1)

		i = 0

		acc = vecnew()
		acc = vecset(acc, 0, 0)
		acc = vecset(acc, 1, 0)

		isstable = 1

		while i < 50 {
			mulres = complexmul(acc, acc)
			acc = complexadd(mulres, c)
			if sqrt(vecget(acc, 0) * vecget(acc, 0) + vecget(acc, 1) * vecget(acc, 1)) > 2 {
				isstable = 0
			}
			if sqrt(vecget(acc, 0) * vecget(acc, 0) + vecget(acc, 1) * vecget(acc, 1)) < 0-2 {
				isstable = 0
			}
			i = i + 1
		}

		if isstable == 1 {
			print("*")
		} else {
			print(".")
		}

		x = x + 1
	}
	y = y + 1
	print("\n")
}
