sum = (v: vec): number => {
	acc = 0
	i = 0
	while i < len(v) {
		acc = acc + vecget(v, i)
		i = i + 1
	}
	acc
}

v = vecnew()
v = vecset(v, 0, 1)
v = vecset(v, 1, 2)
v = vecset(v, 2, 3)

print(string(sum(v)))
